src/index.html
<html></html><head><title>iTunes API Search App</title><link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"/><link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/css/mdb.min.css" rel="stylesheet"/><link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"/><link href="css/style.css" rel="stylesheet"/><link href="https://fonts.googleapis.com/css?family=Cabin:300" rel="stylesheet"/></head><body><div class="container"><header><h1 class="text-center display-4 my-5">Search Music</h1></header><section class="my-5"><form id="searchForm">         <div class="md-form"><input class="form-control" id="searchInput" type="text" name="search" value="" placeholder="Enter your search name here"/></div><div class="text-center"><button class="btn btn-indigo" type="submit" name="button">Search <i class="fa fa-search ml-1"></i></button></div></form><hr/></section><h3 id="results"> </h3><section id="searchResults"></section></div><script type="text/javascript" src="js/main.js"></script></body>

pug/index.pug
html
head
    title iTunes API Search App
    link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/css/mdb.min.css', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Cabin:300', rel='stylesheet')
body
    .container
      header
        h1.text-center.display-4.my-5 Search Music
        
      section.my-5
        form#searchForm          
          .md-form
            input#searchInput.form-control(type='text', name='search', value='', placeholder='Enter your search name here')       
          .text-center
            button.btn.btn-indigo(type='submit', name='button')
              | Search 
              i.fa.fa-search.ml-1
     
        hr
      h3#results 
      section#searchResults
    script(type='text/javascript' src='js/main.js')
        
